@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Source+Serif+Pro:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*menu*/
.container {
    background-color: black;
    padding: 12px;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 1px #f8f8f8;    
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.menu  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.menu a::after {
    content: " ";
    width: 0;
    height: 6px;
    background: linear-gradient(0.25turn, #aa076b, #61045f);
    position: absolute;
    top: 27px;
    left: 0;
    transition: width 0.5s;
}

.menu a:hover::after {
    width: 30px;
}


/* primeira página*/
#boxOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 721px;
}

.bio {
    padding: 6px;
    margin: 10px auto;
    color: #000000;
}

.bio p {
    font-size: x-large;
}

.bio h1 {
    font-size: 6rem;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 6px 0 2px #cfd2cf;
}

.bioCont {
    text-align: center;
    font-size: 2rem;
}

/*reponsivo da primeira página*/

@media screen and (max-width: 500px){
    #boxOne .bio h1{
        font-size: 4.3rem;
    }
}    
/* ------ */

/*segunda pagina*/

#boxTwo {
    background-color: #000000;
    width: 100%;
    height: 722px;
}

.dimeBoxT {
    padding: 55px;
    display: flex;
    flex-direction: initial;
    justify-content: center;
}

#boxTwo img {
    width: 227px;
    height: 328px;
    margin: 111px;
}

.sobre {
    color: #fff;
    text-align: center;
}

/*reponsivo da segunda página*/
@media  screen and (max-width: 680px) {
    #boxTwo {
        height: 665px;
    }

    #boxTwo .dimeBoxT {
        flex-direction: column-reverse;
    }

    #boxTwo .dimeBoxT img {
        width: 200px;
        height: 190px;
        margin: 31px;
    }
}

/*terceira página*/
#boxThree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
}

.fa-brands{
    font-size: 12em;
    cursor: grab;
}

.fa-color {
    color: #ffb200;
}

/* cor dos icones da página três  */
.fa-color1 {
    color: #277bc0;
}

.fa-color2 {
    color: #fbdf07;
}
/* -------*/

.ajuste {
    display: flex;
    justify-content: space-evenly;
}

.ajuste p{
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    margin-top: 41px;
    width: 425px;
}

.animacao {
   width: 288px;
   display: none;
}

.animacao1 {
    width: 288px;
    display: none;
 }

 .animacao2 {
    width: 288px;
    display: none;
 }

/* reponsivo da terceira página*/
@media screen and (max-width: 500px){
    #boxThree{
        height: 616px;
    }

    #boxThree .ajuste{
        margin: 30px;
    }

    #boxThree .fa-brands{
        font-size: 8em;
    }
    .ajuste p{
        margin: 0 0 0 17px;
        font-size: 13px;
    }
}    