@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Source+Serif+Pro:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* menu */
.container {
    background-color: black;
    padding: 12px;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 1px #f8f8f8;    
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.menu  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.menu a::after {
    content: " ";
    width: 0;
    height: 6px;
    background: linear-gradient(0.25turn, #aa076b, #61045f);
    position: absolute;
    top: 27px;
    left: 0;
    transition: width 0.5s;
}

.menu a:hover::after {
    width: 30px;
}

/*___________________________________________________*/


/* primeira página */
#boxOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 721px;
}

.bio {
    padding: 6px;
    margin: 10px auto;
    color: #000000;
}

.bio p {
    font-size: x-large;
}

.bio h1 {
    font-size: 6rem;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 6px 0 2px #cfd2cf;
}

.bioCont {
    text-align: center;
    font-size: 2rem;
}

/* reponsivo da primeira página */

@media screen and (max-width: 500px){
    #boxOne .bio h1{
        font-size: 4rem;
    }
}

/*___________________________________________________*/

/* segunda pagina */

#boxTwo {
    background-color: #000000;
    width: 100%;
    height: 722px;
}

.dimeBoxT {
    padding: 92px;
    display: flex;
    flex-direction: initial;
    justify-content: center;
}

.sobre {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
}

.sobre h1 {
    margin: 17px auto;
}

.sobre button {
    padding: 12px;
    background: #ff5361;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 46px auto 0;
    border-radius: 7px;
}

.sobre a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}


/* reponsivo da segunda página */
@media  screen and (max-width: 680px) {
    #boxTwo {
        height: 665px;
    }

    #boxTwo .dimeBoxT {
        flex-direction: column-reverse;
        padding: 50px;
    }

    #boxTwo .sobre {
        font-size: .9rem;
    }

    #boxTwo button {
        padding: 8px;
        margin: 37px auto 0;
    }

    #boxTwo a {
       font-size: 12px;
    }
}

/*___________________________________________________*/

/* terceira página */ 
#boxThree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 720px;
}

#boxThree .fa-brands {
    font-size: 12em;
    cursor: grab;
}

#butto {
    width: 84px;
    height: 33px;
    margin: 10px 25px 0;
    font-size: 19px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e4dee4, #ffffff);
    box-shadow: 9px 9px 19px #f5f0f5, -9px -9px 19px #fffeff;
}

#butto:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

 /* cor e edição para js dos icones da página três */
.fa-color {
    color: #ffb200;
}

.fa-color1 {
    color: #277bc0;
}

.fa-color2 {
    color: #fbdf07;
}

buttonH {
    display: none;
    width: 288px;
}

.buttonC {
    display: none;
    width: 288px;
}

.buttonJ {
    display: none;
    width: 288px;
}
.ajuste {
    display: flex;
    justify-content: space-evenly;
}

.ajuste p{
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    margin-top: 41px;
    width: 425px;
}

/* reponsivo da terceira página */
@media screen and (max-width: 500px){
    #boxThree{
        height: 668px;
    }

    #boxThree .ajuste{
        margin: 30px;
    }

    #boxThree .fa-brands{
        font-size: 8em;
    }
    .ajuste p{
        margin: 0 0 0 17px;
        font-size: 13px;
    }
}

/*___________________________________________________*/

/* página de contato */

#boxFour {
    background-color: #000000;
    height: 596px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxFour form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

#boxFour form h3 {
    color: #555;
    margin-bottom: 20px;
}

#boxFour form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

#boxFour button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

@media screen and (max-width: 500px) {
    #boxFour {
        height: 567px;
    }

    #boxFour form {
        margin: 10px;
    }

    #boxFour Button {
    padding: 7px;
    font-size: 15px;
    width: 84px;
    margin: 2px auto 4px;
    }

    #boxFour form h3 {
        margin-bottom: 3px;
    }
    
    #boxFour form input, form textarea {
    padding: 10px;
    font-size: 11px;
    }
}

/* container fltuante das redes sociais */
#redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#redes .fa-brands {
    font-size: 5rem;
    background-color: #fffff9;
    margin: 6px;
    padding: 4px;
    border-radius: 10px;
}

/* cor dos icones das redes sociais*/

 #redes .cor-Linkedin {
        color: #0e76a8;
}
    
#redes .cor-Github {
        color: #000000;
}
    
#redes .cor-Gmail {
        color: #FF1700;
}
    
@media screen and (max-width: 500px){
    #redes .fa-brands {
            font-size: 3rem;
    }
}
    
/*___________________________________________________*/
